DATABASE_URL="postgresql://neondb_owner:npg_zk1coavZ6yhM@ep-falling-shape-ahxtj2gi-pooler.c-3.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
DIRECT_URL="postgresql://neondb_owner:npg_ZbcGu7TC4Kkl@ep-dry-shape-a1uykkcx-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

GOOGLE_GENERATIVE_AI_API_KEY=AIzaSyDB6fj7AInAJVd9dtgqMpvJLp98CR4Ccrg
VERTEX_API_KEY=AQ.Ab8RN6IHc1HKamuSYEYXkS18qWqN2tRo8m_Xe2tD6w5EysrVKQ

PORT=8000

